h1{
    color: black;
    font-family:sans-serif;
    text-align:center;
    font-size:60px;
}
h2{
    color: black;
    font-family:sans-serif;
    text-align:center;
    font-size:30px;
}
.txtbox{
    position:absolute;
    background:rgb(124, 130, 163);
}

img{
    border-radius:30px;
}
